
.dashboard-layout-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #e7e9ec; /* Your --gray variable */
}

.main-content {
    flex-grow: 1;
    min-height: 100vh;
}
.main-content.collapsed {
    margin-left: 70px;
    width: calc(100% - 70px);
}

.content-padding {
    height: 100%;
}


@media (max-width: 768px) {
    .dashboard-layout-container {
        display: block;
    }

    .main-content {
        margin-left: 0 !important;
        width: 100% !important;
        padding-top: 70px;
    }

    .main-content.collapsed {
        margin-left: 0 !important;
        width: 100% !important;
    }
}